.u-text-admin{
    color: #Fd768e !important;
    text-shadow: #FC0 1px 0 10px;
}
.u-text-admin-plus{
    color: #Fd768e !important;
    text-shadow: #FF00FF 1px 0 10px;
}
.u-text-admin-plus:hover{
    color: #Fd768e !important;
    text-shadow: #000000 1px 0 10px;
}
.u-text-user{
    color: #ffffff !important;
    text-shadow: #FFFFFF 1px 0 10px;
}