<!DOCTYPE html>
{% extends "header.html" %}

{% block content %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Загрузка фотографий</title>
</head>
<body>
    <h1>Загрузка фотографий</h1>
    <form action="/upload" method="post" enctype="multipart/form-data">
        <input type="file" name="photo" accept="image/*">
        <input type="submit" value="Загрузить">
    </form>

    {% if uploaded_file %}
        <img src="{{ uploaded_file_url }}" alt="Загруженное фото">
    {% endif %}
</body>
{ % endblock %}
</html>