<!DOCTYPE html>
{% extends "header.html" %}

{% block content %}
<html lang="en">
<title>{{rec}}</title>
<body>
<div style="overflow: auto; width: 1600px; height: 1000px;">
        {% for mess in data %}
        {% if mess[0] == user.id %}
    <span style="color: red; background-color: white; font-size: 20px">
        {{user.name}}: {{mess[2]}}<br></span>
        {% elif mess[0] == rec[0]%}
    <span style="color: blue; background-color: white; font-size: 20px">
        {{rec[1]}}: {{mess[2]}}<br></span>
        {% endif %}
    <br>
        {% endfor %}
</div>
    <form action="" method="post" >
        {{ form.content(class="form-control") }}<br>
<p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form></body>

    {% endblock %}