<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/static/css/chat.css">
    <script src="https://cdn.socket.io/socket.io-3.0.1.min.js"></script>
<script>
 var socket = io();
        function joinRoom() {
            var room = document.getElementById('room').value;
            socket.emit('join', { room: room });
        }
        function leaveRoom() {
            var room = document.getElementById('room').value;
            socket.emit('leave', { room: room });
        }
        function sendMessage() {
            var room = document.getElementById('room').value;
            var message = document.getElementById('message').value;
            socket.emit('message', { room: room, message: message });
        }
        socket.on('message', function(message) {
            var messagesDiv = document.getElementById('messages');
            messagesDiv.innerHTML += '<p>' + message + '</p>';
        });
</script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div id="chat">
    <ul id="chat-messages"></ul>
</div>
{% for m in data %}
<div>{{ m.author }}:</div>
<div>{{ m.message }}</div>
{% endfor %}
<input type="text" id="message" placeholder="Enter a message..">
<button onclick="sendMessage()">Отправить</button>
</body>
</html>