{% extends "header.html" %}

{% block content %}
<head>
    <link rel="stylesheet" href="static/css/avatar.css" />
</head>
<h2 align="middle">Правила общения и пользования</h2>
<section class="skrollable u-clearfix u-section-2" id="sec-1972">
  <div class="u-clearfix u-sheet u-valign-middle-xs u-sheet-1">
      <p>1. Будьте вежливы и уважительны к другим участникам форума, даже если вы не согласны с их мнением.</p>
      <p>2. Избегайте оскорблений, угроз, ненависти и других форм неуважительного поведения.</p>
      <p>3. Постарайтесь высказывать свои мысли четко и аргументированно, чтобы обсуждение было продуктивным.</p>
      <p>4. Старайтесь не использовать капслок (НАПИСАНИЕ ЗАГЛАВНЫМИ БУКВАМИ) — это может восприниматься как крик.
      <p>5. Проверьте свои сообщения на орфографические и грамматические ошибки перед их отправкой.</p>
      <p>6. Соблюдайте тематику разделов форума и публикуйте сообщения в соответствующих темах.</p>
      <p>7. Обращайте внимание на то, что делитесь с другими участниками форума, чтобы информация была полезной и интересной.</p>
      <p>8. Помните, что все ваши сообщения могут быть прочитаны другими пользователями, поэтому держите конфиденциальную информацию в секрете.</p>
<br>
      <p>Соблюдение этих правил поможет создать дружественную и гармоничную обстановку на форуме.</p>
  </div>
</section>
{% endblock %}
